@model IEnumerable<BlogProjectTry1.Blog>

@{
    ViewBag.Title = "Sports";
}

<h2>Sports Article</h2>
<hr/>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <b style="color:brown; font-size:large;">@Html.DisplayFor(modelItem => item.Btitle)</b>
                <p>
                @Html.DisplayFor(modelItem => item.BDesc)
                </p>
            </td>

        </tr>
        <tr>
            <td><a href="~/Blog/@item.BUrl">Read Complete Artcle</a></td>
        </tr>
        <tr>

            <td>
                Category <a href="~/Blog/@item.BCategory">@Html.DisplayFor(modelItem => item.BCategory)</a>
            </td>
        </tr>
    }

</table>
